/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    max-width: 900px;
    margin: 48px auto;
}

.page-header {
    display: flex;
}

.page-header button {
    margin: auto;
    margin-right: 0;
}

.mdc-button.submit-button {
    margin: auto;
    margin-right: 0;
    display: block;
}

.hidden {
    display: none;
}